# folder and files to ignore

# folders 
*__pycache__/
*hide/
Research Assistant/

# files
*NunA_work_area.ipynb
*Lectureslides.pdf
*.ipynb_checkpoints/
*project_main.ipynb
*bike_sharing_project.txt
*NumericalAnalysis.pdf
